* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

body {
  background-image: url(https://kamlapinski.github.io/sovereignteam/bg.jpg);
  background-color: #000000;
  color: #ffffff;
}

.language {
  position: absolute;
  width: 50px;
  height: 30px;
  left: 3%;
  top: 3%;
  cursor: pointer;
}

.language img {
  width: 100%;
}

.black {
  width: 100%;
  height: 300vh;
  position: absolute;
  background-color: black;
  top: 0;
  opacity: 0.8;
}

span {
  display: none;
}

.inpt {
  display: none;
}

.container {
  width: 80%;
  background: #6f6f6f;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  -webkit-box-shadow: 23px 33px 37px -10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 23px 33px 37px -10px rgba(0, 0, 0, 0.9);
  box-shadow: 23px 33px 37px -10px rgba(0, 0, 0, 0.9);
}

.logo img {
  width: 100%;
  height: 100%;
}

.menu {
  margin-top: -6px;
}

.popup {
  width: 400px;
  height: 230px;
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  border-radius: 10%;
  display: block;

}


.popup .x1 {
  text-decoration: none;
  margin-left: 88%;
  font-size: 2rem;
  padding-top: 10px;
  color: #c70000;
  cursor: pointer;
}

.popup h5 {
  padding-top: 15px;
  padding-bottom: 30px;
  font-size: 1.7rem;
}

.popup .fbpop {
  text-decoration: none;
  color: #3b5998;
  font-size: 4rem;
  width: 100%;
}

.popup .fbpop i {
  background: #ffffff;
  border-radius: 50%;
  width: 3.99rem;
  height: 4rem;
}

.openMore {
  text-align: center;
  display: block;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  background: #2059b0;
  z-index: 3;
  -webkit-box-shadow: 0px 11px 19px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 11px 19px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 11px 19px -4px rgba(0, 0, 0, 0.5);
}

.articleOne {
  margin-bottom: 0%;
}

.articleMore {
  display: none;
  margin: 0% 5% 5% 5%;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 5%;
}

.articleMore2 {
  display: block;
}



ol {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1.5rem;
  height: 100%;
  line-height: 200%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px dotted #24262c;
  background: #333640;
  width: 100%;
  margin-bottom: 5%;
  -webkit-box-shadow: -1px 10px 45px 6px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: -1px 10px 45px 6px rgba(0, 0, 0, 0.93);
  box-shadow: -1px 10px 45px 6px rgba(0, 0, 0, 0.93);

}

ol a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

ol>li {
  float: left;
  width: 24%;
  height: 50px;
  border-right: 2.5px dotted #24262c;
  padding-top: 15px;
  padding-bottom: 3px;
}

ol>li:last-child {
  width: 27%;
  border-right: none;
}


ol>li:hover {
  background-color: #24262c;
  font-size: 1.7rem;
  transition-duration: 0.3s;
}


ol>li>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 50px;
  display: none;
}

ol>li:hover>ul {
  display: block;
}

ol>li>ul>li {
  background-color: #24262c;
  position: relative;
  z-index: 100;
}

ol>li>ul>li:hover {
  background-color: #24262c;
  color: #c4c4c4;
  font-size: 1.7rem;
  transition-duration: 0.5s;
}

ol>li>ul>li:hover>a {
  color: #c4c4c4;
}

.video-container {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
  width: 70%;
  margin-bottom: 10%;
  top: 50%;
  border: 10px groove #24262c;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 9px 10px 30px 10px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: 9px 10px 30px 10px rgba(0, 0, 0, 0.93);
  box-shadow: 9px 10px 30px 10px rgba(0, 0, 0, 0.93);
}

.video-container:first-child {
  margin-top: 5%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  font-size: .5rem;
  text-align: center;
  color: #ffffff;
  width: 100%;
  padding-bottom: 3%;
  clear: both;
  padding-top: 7%;
  position: sticky;
  top: 95%;
}

.team {
  padding-bottom: 8%;
}

.team h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 0;
}

.box {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}

.card {
  float: left;
  position: relative;
  width: 200px;
  height: 250px;
  background: #333640;
  margin: 5% 10%;
  border-radius: 4px;
  -webkit-box-shadow: 9px 10px 30px 10px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: 9px 10px 30px 10px rgba(0, 0, 0, 0.93);
  box-shadow: 9px 10px 30px 10px rgba(0, 0, 0, 0.93);
  margin-bottom: 10%
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #333640;
  transition: 0.5s;
  z-index: -1;
}

.card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card:hover .imgBx {
  bottom: 80px;
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1.1rem;
  color: #ffffff;
}

.card .details h2 span {
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  display: block;
  margin-top: 5px;
}

article h1 {
  margin: 0% 5% 5% 5%;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 2%;
}

.aboutImg img {
  width: 100%;
  float: left;
  margin-left: 0;
  transition-duration: 1.5s;
  -webkit-box-shadow: 2px 6px 15px 9px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 2px 6px 15px 9px rgba(0, 0, 0, 0.66);
  box-shadow: 2px 6px 15px 9px rgba(0, 0, 0, 0.66);
}

.aboutImgClick {
  width: 60%;
  margin: 0;
  transform: rotateY(360deg);
  -webkit-box-shadow: 23px 33px 37px -10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 23px 33px 37px -10px rgba(0, 0, 0, 0.9);
  box-shadow: 23px 33px 37px -10px rgba(0, 0, 0, 0.9);
  padding-bottom: 0;
  transition-duration: 1.5s;
}

.aboutImg2 {
  margin: 0;
  width: 100%;
  margin-top: 5%;
}

.aboutImg2 img {
  margin: 0;
  width: 100%;
  margin-bottom: 5%;
}



@media (max-width: 730px) {
  /*MOBILE*/

  .logo img {
    width: 100%;
    height: 100px;
  }

  .openMore {
    margin-bottom: 12%;
    margin-top: 12%;
  }

  .popup {
    width: 350px;
    height: 230px;
  }

  article h1 {
    margin: 15% 5% 5% 5%;
  }

  .container {
    width: 100%;
  }

  .team h1 {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .video-container {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    width: 85%;
    margin-bottom: 25%;
    top: 50%;
    border: 10px groove #24262c;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 9px 10px 30px 10px rgba(0, 0, 0, 0.93);
    -moz-box-shadow: 9px 10px 30px 10px rgba(0, 0, 0, 0.93);
    box-shadow: 9px 10px 30px 10px rgba(0, 0, 0, 0.93);
  }

  .video-container:first-child {
    margin-top: 17%;
  }

  .video-container:last-child {
    margin-bottom: 10%;
  }

  span {
    display: inline;
  }

  .inpt {
    display: inline;
  }

  .menuToggle {
    margin-bottom: 150px;
    display: block;
    position: relative;
    top: 20px;
    left: 25px;
    z-index: 3;
    -webkit-user-select: none;
    user-select: none;
  }

  .menuToggle input {
    display: block;
    width: 44px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
    -webkit-touch-callout: none;
  }

  .menuToggle span {
    display: block;
    width: 44px;
    height: 6px;
    margin-bottom: 6px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 3;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }

  .menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menuOl {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1rem;
    height: 100%;
    line-height: 1%;
    display: none;
    text-align: center;
    cursor: pointer;
    border-bottom: none;
    background-color: #333640;
    width: 100%;
    -webkit-box-shadow: -1px 10px 45px 6px rgba(0, 0, 0, 0.93);
    -moz-box-shadow: -1px 10px 45px 6px rgba(0, 0, 0, 0.93);
    box-shadow: -1px 10px 45px 6px rgba(0, 0, 0, 0.93);
    top: -25px;
    left: -25px;

  }

  .menuOl li {
    clear: both;
    width: 100%;
    background-color: #333640;
    border: none;
    border-bottom: 1px dotted #24262c;
    padding-top: 25px;
  }

  .menuOl>li>ul>li {
    padding-bottom: 25px;
  }

  .menuOl li:last-child {
    width: 100%;
  }

  .menuOl>li>ul>li:hover {
    background-color: #24262c;
    color: #c4c4c4;
    font-size: 1rem;
    transition-duration: 0.5s;
  }

  .menuOl li:hover {
    font-size: 1rem;
  }

  .newmenuu {
    display: block;
    z-index: 2;
  }

  .card {
    clear: both;
    position: relative;
    width: 200px;
    height: 250px;
    background: #333640;
    margin: 0 25%;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%
  }

  .aboutImg2 {
    margin: 0;
    width: 100%;
    margin-top: 10%;
  }
  
  .aboutImg2 img {
    margin: 0;
    width: 100%;
    margin-bottom: 10%;
    clear: both;
  }
  
  .language {
    top: 110px;
    left: 85%;
  }
}

@media (max-width: 850px) and (min-width: 730px) {

  article h1 {
    margin: 0% 5% 5% 5%;
  }

  .team h1 {
    margin-top: 5%;
    margin-bottom: 10%;
  }

  ol>li {
    float: left;
    width: 23%;
    height: 50px;
    border-right: 2.5px dotted #24262c;
    padding-top: 18px;
    padding-bottom: 0;
    font-size: 1.2rem;
  }

  ol>li:last-child {
    width: 24%;
    border-right: none;
    margin-left: 2%;
  }

  .video-container:first-child {
    margin-bottom: 30%;
  }

  .card {
    clear: both;
    position: relative;
    width: 200px;
    height: 250px;
    background: #333640;
    margin: 0 25%;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%
  }
}

@media (max-width: 1100px) and (min-width: 850px) {

  .team h1 {
    margin-top: 5%;
    margin-bottom: 10%;
  }

  ol>li {
    float: left;
    width: 23%;
    height: 50px;
    border-right: 2.5px dotted #24262c;
    padding-top: 18px;
    padding-bottom: 0;
    font-size: 1.2rem;
  }

  ol>li:last-child {
    width: 24%;
    border-right: none;
    margin-left: 2%;
  }

  .video-container:first-child {
    margin-bottom: 15%;
  }

  .card {
    clear: both;
    position: relative;
    width: 200px;
    height: 250px;
    background: #333640;
    margin: 0 25%;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }
}